// VARS
:root {
  --accent-color: #d41443;
  // text
  --title-color: #d41443;
  --title-top-text-color: #ffa5ba;
  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --white-text-color: #ffffff;
  // button
  --purp-button-bg: #d41443;
  --white-button-bg: #ffffff;
  --white-button-accent-bg: #ecebeb;
  --purp-button-accent-bg: rgba(212, 20, 68, 0.7);
  // section
  --white-section-color: #ffffff;
  --purple-section-color: #fff5f6;
  // socials
  --socials-bg-color: #fea5bb;
  --socials-icon-color: #ffffff;
  // mob menu
  --mob-menu-bg: #e17992;
  // link
  --link-color: #907e82;

  /* transitions */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* animations */
}
