<section class="section about" id="about">
    <div class="container">
        <div></div>
        <p class="about__lable">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about__group">
            <div class="about__images">
                <picture>
                    <source srcset="
                    ./images/gallery/web/about-img.png 1x,
                    ./images/gallery/web/about-img.png 2x" 
                    media="(min-width: 1200px)"/>
                    <source srcset="
                    ./images/gallery/tablet/about-img-tab.png 1x,
                    ./images/gallery/tablet/about-img-tab.png 2x" media="(min-width: 768px)" />
                    <source srcset="
                    ./images/gallery/mobile/about-img-mob.png 1x,
                    ./images/gallery/mobile/about-img-mob.png 2x" media="(min-width: 320px)" />
                    <img class="about__coa__img" src="./images/gallery/web/about-img.png" alt="COA IMAGE">
                </picture>
            </div>     
            <div class="about__text">
                <p class="about__data">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.Maecenas eleifend erat at justo fringilla.</p>
                <img class="about__milk__img" src="./images/gallery/mobile/about-bg-mob.png" alt="" width="280">
                <p class="about__details">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                Aliquam erat volutpat. Aenean accumsan.</p>
    <!-- ОТКРЫТЬ МОДАЛКУ -->
                <button data-about-open type="button" class="about__read">Read more
                    <svg class="about__icon">
                    <use href="./images/sprite/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
<!-- МОДАЛКА ABOUT DETAILS -->
    <div class="backdrop is-hidden" data-about>
        <div class="about__modal">
            <button data-about-close type="button" aria-label="Закрыть" class="close">
                <svg class="close__icon" width="11" height="11">
                    <use href="./images/sprite/icons.svg#icon-modal-close"></use>
                </svg>
            </button>
            <p class="about__more">Before milk based ice creams were introduced in 10th century, this summer treat was indeed made from ice.Industrial production of ice cream begun in 1851 in Boston, United States. Spreading of American made ice cream for military troops during World War II was a moment when entire world accepted ice cream as a perfect summer-time treat. The largest worldwide consumption of ice cream is in United States. There, one average person consumes 48 pints of ice cream per year. 90% of American households eat ice cream.</p>
            

        </div>
    </div>

</section>