<section class="section about" id="about">
  <div class="container">
    <div></div>
    <p class="about__lable">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__group">
      <div class="about__images">
        <picture>
          <source srcset="
                    ./images/gallery/web/about-img.png 1x,
                    ./images/gallery/web/about-img-2x.png 2x" media="(min-width: 1200px)" />
          <source srcset="
                    ./images/gallery/tablet/about-img-tab.png 1x,
                    ./images/gallery/tablet/about-img-tab-2x.png 2x" media="(min-width: 768px)" />
          <source srcset="
                    ./images/gallery/mobile/about-img-mob.png 1x,
                    ./images/gallery/mobile/about-img-mob-2x.png 2x" media="(min-width: 320px)" />
          <img class="about__coa__img" src="./images/gallery/web/about-img.png" alt="COA IMAGE">
        </picture>
      </div>
      <div class="about__text">
        <p class="about__data">About 70% of the ingredients in ice cream come from milk, although mixes often contain natural ingredients like sugar and fruit. Small quantities of stabilisers emulsifiers may also be added to enhance flavour.
        </p>
        <p class="about__details">"Stir freezing" is the method of stirring the mixture by hand a number of times during the freezing period to achieve a
        smooth texture. Partially frozen mixtures can be stirred in an electric mixer or food processor, though it needs to be processed quickly and returned to the freezer in between.
</p>
        <!-- ОТКРЫТЬ МОДАЛКУ -->
        <button data-about-open type="button" class="about__read">Read more
          <svg class="about__icon">
            <use href="./images/sprite/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- МОДАЛКА ABOUT DETAILS -->
  <div class="backdrop is-hidden" data-about>
    <div class="about__modal">
      <button data-about-close type="button" aria-label="Закрыть" class="close">
        <svg class="close__icon" width="11" height="11">
          <use href="./images/sprite/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <p class="about__more__lable">Commercial ice cream is made with several steps:</p>
      <p class="about__more"> Milk, cream, milk solids, sugars, modifying agents and flavourings are blended together in stainless steel vats. The mix is homogenised to create a consistent texture. The mix is pasteurised by heating at 82-85°C for 15 seconds then cooled to destroy bacteria. The mix is left alone for 2-24 hours so fat globules solidify and viscosity increases. Flavours or colourings are added. The mix is frozen (at about -7°C) and beaten (or ‘agitated’). This adds air to the mix. The ice cream is moulded, packaged and frozen at around -25°C to allow it to harden. Making ice cream at home follows a similar process. You can use an ice cream machine to “stir freeze” the mix, which
      whips in air while the mix freezes.</p>


    </div>
  </div>

</section>

<!-- КНОПКА - ПОВЕРНЕННЯ НА ПОЧАТОК СТОРІНКИ -->
<div class="scrollup">
  <a class="scrollup__link fa fa-chevron-up" href="#">
    <svg class="btn__up" width="25" height="25">
      <use href="./images/sprite/icons.svg#icon-loon-icon"></use>
    </svg>
  </a>
</div>