<section class="section about" id="about">
  <div class="container">
    <p class="about__lable">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <img
      class="about__coa__img"
      src="./images/gallery/mobile/about-img-mob.png"
      alt=""
      width="280"
      height="279"
    />

    <p class="about__data">
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <img
      class="about__milk__img"
      src="./images/gallery/mobile/about-bg-mob.png"
      alt=""
      width="280"
    />
    <p class="about__details">
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>

    <button type="button" class="about__read">
      Read more
      <svg class="about__icon">
        <use href="./images/sprite/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
npm
