<section class="advantages">
    <h2 class="advantages__title">Advantages</h2>
    <ul class="advantages__list list">
        <li class="advantages__item">
            <svg class="advantages__icon">
                <use href="/src/images/icons.svg#icon-advantages-1" width="33" height="50"></use>
            </svg>
            <p class="advantages__top-text">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advantages__item">
            <svg class="advantages__icon">
                <use href="/src/images/icons.svg#icon-advantages-2" width="50" height="50"></use>
            </svg>
            <p class="advantages__top-text">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advantages__item">
            <svg class="advantages__icon">
                <use href="/src/images/icons.svg#icon-advantages-3" width="44" height="50"></use>
            </svg>
            <p class="advantages__top-text">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>
</section>