<section class="advantages section" id="advantages">
    <div class="container">
    <h2 class="advantages__title visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
        <li class="advantages__item">
            <svg class="advantages__icon">
                <use href="/src/images/sprite/icons.svg#icon-advantages-1" width="33" height="50"></use>
            </svg>
            <p class="advantages__top-text">721</p>
            <p class="advantages__text">We always use only natural milk for our products.
            </p>
        </li>
        <li class="advantages__item">
            <svg class="advantages__icon">
                <use href="/src/images/sprite/icons.svg#icon-advantages-2" width="50" height="50"></use>
            </svg>
            <p class="advantages__top-text">16kg</p>
            <p class="advantages__text">We use only organic products, so we get natural flavors.
            </p>
        </li>
        <li class="advantages__item">
            <svg class="advantages__icon">
                <use href="/src/images/sprite/icons.svg#icon-advantages-3" width="44" height="50"></use>
            </svg>
            <p class="advantages__top-text">84</p>
            <p class="advantages__text">And other helpful supplements won't hurt you.
            </p>
        </li>
    </ul>
    </div>
</section>