<section class="contacts" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <p class="category cafe">CAFE</p>
        <div class="location">
          <p class="location-description--1">Chicago</p>
          <p class="location-description--2">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="schedule-list list">
          <li class="schedule">
            <p class="schedule-day">Monday - Friday</p>
            <p class="schedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule">
            <p class="schedule-day">Saturday - Sunday</p>
            <p class="schedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="address-list list">
          <li class="address">
            <a class="address-link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="address">
            <a class="address-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list__item">
        <p class="category foodtruck">FOOD TRUCK</p>
        <div class="location">
          <p class="location-description--1">Los Angeles</p>
          <p class="location-description--2">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <ul class="schedule-list list">
          <li class="schedule">
            <p class="schedule-day">Monday - Friday</p>
            <p class="schedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule">
            <p class="schedule-day">Saturday - Sunday</p>
            <p class="schedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="address-list list">
          <li class="address">
            <a class="address-link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="address">
            <a class="address-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list__item">
        <p class="category cafe">CAFE</p>
        <div class="location">
          <p class="location-description--1">New York</p>
          <p class="location-description--2">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="schedule-list list">
          <li class="schedule">
            <p class="schedule-day">Monday - Friday</p>
            <p class="schedule-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule">
            <p class="schedule-day">Saturday - Sunday</p>
            <p class="schedule-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="address-list list">
          <li class="address">
            <a class="address-link" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="address">
            <a class="address-link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <!-- Кнопки -->
    <ul class="contacts-btn list">
      <li class="contacts-btn__item">
        <button
          data-map-open
          class="btn-locations btn button--purp"
          type="button"
        >
          Our Locations
          <svg class="btn__location-icon">
            <use href="./images/sprite/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-btn__item">
        <button
          data-franchise-open
          class="btn-franchise btn button--white"
          type="button"
        >
          Franchise
          <svg class="btn__franchise-icon">
            <use href="./images/sprite/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <!-- Модальное окно  карта -->
  <div data-map class="backdrop__map is-hidden">
    <div class="modal modal__map">
      <!-- Иконка закрытия -->
      <button data-map-close type="button" aria-label="Закрыть" class="close">
        <svg class="close__icon" width="11" height="11">
          <use href="./images/sprite/icons.svg#icon-modal-close"></use>
        </svg>
      </button>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d659.3545922927133!2d22.286299383397672!3d48.62097566262073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47391852af2f3909%3A0xf4750afbcc139ef0!2z0YPQuy4g0JTQvNC40YLRgNC40Y8g0JTQvtC90YHQutC-0LPQviwgMjEsINCj0LbQs9C-0YDQvtC0LCDQl9Cw0LrQsNGA0L_QsNGC0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDg4MDAw!5e0!3m2!1sru!2sua!4v1658047907253!5m2!1sru!2sua"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <!-- Модальное окно франшизы -->

  <div data-franchise class="backdrop backdrop__francise is-hidden">
    <div class="modal modal__francise">
      <button
        data-franchise-close
        type="button"
        aria-label="Закрыть"
        class="close"
      >
        <svg class="close__icon" width="11" height="11">
          <use href="./images/sprite/icons.svg#icon-modal-close"></use>
        </svg>
      </button>

      <form autocomplete="off" class="form">
        <p class="form__title">
          Fill out the form and we will be happy to contact you
        </p>
        <label class="form__field--franchise">
          <input
            type="text"
            class="form__input--franchise"
            name="firstname"
            placeholder=" "
          />
          <span class="form__label--franchise">First name</span>
        </label>
        <label class="form__field--franchise">
          <input
            type="text"
            class="form__input--franchise"
            name="lastname"
            placeholder=" "
          />
          <span class="form__label--franchise">You city</span>
        </label>
        <label class="form__field--franchise">
          <input
            type="tel"
            class="form__input--franchise"
            name="tel"
            placeholder=" "
          />
          <span class="form__label--franchise">Telephone</span>
        </label>
        <label class="form__field--franchise">
          <input
            type="email"
            class="form__input--franchise"
            name="mail"
            placeholder=" "
          />
          <span class="form__label--franchise">E-mail</span>
        </label>
      </form>

      <button class="btn btn-main form__btn button--purp" type="button">
        Send
      </button>
    </div>
  </div>
</section>
