<section class="customer-review section">
    <div class="container">
        <ul class="reviews__list">
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/gallery/web/reviews-1.png" alt="Client">
                    <div class="reviews-wrap">
                        <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh verisus.</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Emily, Los Angeles</p>
                </article>
            </li>
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/gallery/web/reviews-2.png" alt="Client">
                    <div class="reviews-wrap">
                        <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                        In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh verisus.</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Laura, Chicago</p>
                </article>
            </li>
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/gallery/web/reviews-3.png" alt="Client">
                    <div class="reviews-wrap">
                        <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                        In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh verisus.</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Jessica, New York</p>
                </article>
            </li>
        </ul>
    </div>
</section>