<section class="customer-reviews section">
    <div class="container">
        <ul class="reviews__list">
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/pets/helga&faina.jpg" alt="Cats Helga and Faina">
                    <div class="reviews-wrap">
                        <p class="reviews__text">We’d like to say thank you for your delicious ice cream and milkshakes which make our parents leave for having a desert
                        every Friday, so we have time for our Friday’s kitty-party. Meow</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Helga and Faina, Los Angeles</p>
                </article>
            </li>
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/pets/ginger.jpg" alt="Dog Ginger">
                    <div class="reviews-wrap">
                        <p class="reviews__text">The taste of this ice cream is royal, mmm, especially for me &#128514;) thanks for what you do &#10084;)</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Ginger, Chicago</p>
                </article>
            </li>
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/pets/engie.jpg" alt="Dof Engie">
                    <div class="reviews-wrap">
                        <p class="reviews__text">This is the most delicious ice cream I have ever tasted in my life. I'm ready to give all my favorite toys for your
                        strawberry chocolate ice cream! It makes me happy and energetic for the whole day!</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Engie, New York</p>
                </article>
            </li>
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/pets/riziy.jpg" alt="Cat Riziy">
                    <div class="reviews-wrap">
                        <p class="reviews__text">I stole my first ice cream &#128580;. It was wonderful!!!! And my family understood me :). Now they buy a separate portion for
                        me. It’s better than Royal Canin &#129316;</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Riziy, New York</p>
                </article>
            </li>
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/pets/rat.jpg" alt="Cat Rat">
                    <div class="reviews-wrap">
                        <p class="reviews__text">May my life always be as sweet as this wonderful ice cream?!</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Rat, Chicago</p>
                </article>
            </li>
            <li class="reviews__item">
                <article class="reviews">
                    <h2 class="reviews__title visually-hidden">Customer review</h2>
                    <img class="reviews__img" src="/src/images/pets/umka.jpg" alt="Dog Umka">
                    <div class="reviews-wrap">
                        <p class="reviews__text">Om-nom-nom! That's tasty!&#129412;&#10024;</p>
                    </div>
                    <div class="dots">
                        <div class="dot-first"></div>
                        <div class="dot-second"></div>
                        <div class="dot-third"></div>
                    </div>
                    <p class="reviews__name">Umka, Los Angeles</p>
                </article>
            </li>
        </ul>
    </div>
</section>