<footer class="footer">
  <div class="container">
    <p class="title__top-text footer__title">
      homemade ice cream made
      <span class="secondary-title footer__title--bold"> with passion </span>
    </p>
    <ul class="social__list footer-social__list">
      <li class="social__item footer-social__item">
        <a
          class="social__link footer-social__link footer-social__link--pink"
          href="https://github.com/"
        >
          <svg class="social__icon footer-social__icon" width="32" height="32">
            <use href="/src/images/sprite/icons.svg#icon-soc-github"></use>
          </svg>
        </a>
      </li>
      <li class="social__item footer-social__item">
        <a
          class="social__link footer-social__link footer-social__link--pink"
          href="https://telegram.org/"
        >
          <svg class="social__icon footer-social__icon" width="32" height="32">
            <use href="/src/images/sprite/icons.svg#icon-soc-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item footer-social__item">
        <a
          class="social__link footer-social__link footer-social__link--pink"
          href="https://www.facebook.com/"
        >
          <svg class="social__icon footer-social__icon" width="32" height="32">
            <use href="/src/images/sprite/icons.svg#icon-soc-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <address class="address">
      <p class="address__text address__text--black">
        Feel free to contact
        <a class="address__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </address>
  </div>
  <div class="container-rights">
    <a class="footer__rights">&copy;2022 - IceCream. All Rights Reserved.</a>
  </div>
</footer>
