<section class="gallery">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--1">
        <img class="gallery__image" src="./images/gallery/mobile/img1-44px.png" srcset="
              ./images/gallery/mobile/img1-44px.png    1x,
              ./images/gallery/mobile/img1-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--2">
        <img class="gallery__image" src="./images/gallery/mobile/img2-44px.png" srcset="
              ./images/gallery/mobile/img2-44px.png    1x,
              ./images/gallery/mobile/img2-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--3">
        <img class="gallery__image" src="./images/gallery/mobile/img3-44px.png" srcset="
              ./images/gallery/mobile/img3-44px.png    1x,
              ./images/gallery/mobile/img3-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--4">
        <img class="gallery__image" src="./images/gallery/mobile/img4-90px.png" srcset="
              ./images/gallery/mobile/img4-90px.png    1x,
              ./images/gallery/mobile/img4-90px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--5">
        <img class="gallery__image" src="./images/gallery/mobile/img5-44px.png" srcset="
              ./images/gallery/mobile/img5-44px.png    1x,
              ./images/gallery/mobile/img5-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--6">
        <img class="gallery__image" src="./images/gallery/mobile/img6-44px.png" srcset="
              ./images/gallery/mobile/img6-44px.png    1x,
              ./images/gallery/mobile/img6-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--7">
        <img class="gallery__image" src="./images/gallery/mobile/img7-44px.png" srcset="
              ./images/gallery/mobile/img7-44px.png    1x,
              ./images/gallery/mobile/img7-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--8">
        <img class="gallery__image" src="./images/gallery/mobile/img8-44px.png" srcset="
              ./images/gallery/mobile/img8-44px.png    1x,
              ./images/gallery/mobile/img8-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--9">
        <img class="gallery__image" src="./images/gallery/mobile/img9-44px.png" srcset="
              ./images/gallery/mobile/img9-44px.png    1x,
              ./images/gallery/mobile/img9-44px@2x.png 2x
            " alt="" />
      </li>
      <li class="gallery__item gallery__item--10">
        <img class="gallery__image" src="./images/gallery/mobile/img10-44px.png" srcset="
              ./images/gallery/mobile/img10-44px.png    1x,
              ./images/gallery/mobile/img10-44px@2x.png 2x
            " alt="" />
      </li>
    </ul>
  </div>
</section>
