<section class="gallery">
  <div class="container">
    <ul class="gallery__list">
      <li class="gallery__item gallery__item--1">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img1-138px.png    1x,
              ./images/gallery/web/img1-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img1-105px.png    1x,
              ./images/gallery/tablet/img1-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img1-44px.png    1x,
              ./images/gallery/mobile/img1-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img1-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--2">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img2-138px.png    1x,
              ./images/gallery/web/img2-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img2-105px.png    1x,
              ./images/gallery/tablet/img2-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img2-44px.png    1x,
              ./images/gallery/mobile/img2-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img2-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--3">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img3-138px.png    1x,
              ./images/gallery/web/img3-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img3-105px.png    1x,
              ./images/gallery/tablet/img3-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img3-44px.png    1x,
              ./images/gallery/mobile/img3-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img3-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--4">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img4-283px.png    1x,
              ./images/gallery/web/img4-283px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img4-215px.png    1x,
              ./images/gallery/tablet/img4-215px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img4-90px.png    1x,
              ./images/gallery/mobile/img4-90px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img4-283px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--5">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img5-138px.png    1x,
              ./images/gallery/web/img5-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img5-105px.png    1x,
              ./images/gallery/tablet/img5-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img5-44px.png    1x,
              ./images/gallery/mobile/img5-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img5-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--6">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img6-138px.png    1x,
              ./images/gallery/web/img6-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img6-105px.png    1x,
              ./images/gallery/tablet/img6-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img6-44px.png    1x,
              ./images/gallery/mobile/img6-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img6-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--7">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img7-138px.png    1x,
              ./images/gallery/web/img7-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img7-105px.png    1x,
              ./images/gallery/tablet/img7-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img7-44px.png    1x,
              ./images/gallery/mobile/img7-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img7-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--8">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img8-138px.png    1x,
              ./images/gallery/web/img8-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img8-105px.png    1x,
              ./images/gallery/tablet/img8-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img8-44px.png    1x,
              ./images/gallery/mobile/img8-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img8-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--9">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img9-138px.png    1x,
              ./images/gallery/web/img9-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img9-105px.png    1x,
              ./images/gallery/tablet/img9-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img9-44px.png    1x,
              ./images/gallery/mobile/img9-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img9-138px.png" alt="" />
        </picture>
      </li>
      <li class="gallery__item gallery__item--10">
        <picture class="gallery__image">
          <source
            srcset="
              ./images/gallery/web/img10-138px.png    1x,
              ./images/gallery/web/img10-138px@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/img10-105px.png    1x,
              ./images/gallery/tablet/img10-105px@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/gallery/mobile/img10-44px.png    1x,
              ./images/gallery/mobile/img10-44px@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/gallery/web/img10-138px.png" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
