<header>
    <a href="#" class="header__logo">
        <svg class="logo" width="199" height="50">
            <use href="#"></use>
        </svg>
    </a>
    <button type="button" class="menu-open__btn">
        <svg class="menu-open__icon" width="20" height="12">
            <use href="#"></use>
        </svg>
    </button>
    <section class="mob-menu">
        <div class="container">
            <button type="button" class="menu-close__btn">
                <svg class="menu-close__icon" width="14" height="14">
                    <use href="#"></use>
                </svg>
            </button>
            <button type="button" class="mob-menu__btn">Buy now
                <svg class="btn__icon" width="6" height="8">
                    <use href="#"></use>
                </svg>
            </button>
            <ul class="mob-menu__list">
                <li class="mob-menu"><a href="#" class="mob-menu__link">Home</a></li>
                <li class="mob-menu"><a href="#" class="mob-menu__link">About us</a></li>
                <li class="mob-menu"><a href="#" class="mob-menu__link">How it’s made?</a></li>
                <li class="mob-menu"><a href="#" class="mob-menu__link">Our products</a></li>
                <li class="mob-menu"><a href="#" class="mob-menu__link">Contact</a></li>
            </ul>
        </div>
    </section>
</header>