<section class="hero">
    <div class="container">
        <div class="hero__text">
            <h1 class="hero__title">Ice cream made with <span class="hero__title--accent">passion</span></h1>
            <div class="hero__btns">
                <a href="#" class="hero__link link hero__link--products">Products</a>
                <a href="#" class="hero__link link hero__link--about">How it’s made?</a>
            </div>
        </div>
        <img src="./images/gallery/mobile/hero-icecream-mob.png" 
        alt="Ice-cream"
        width="171"
        class="ice-cream">
        <img src="./images/gallery/mobile/hero-pink-circle-mob.png" 
        alt="Circle"
        width="346"
        height="346"
        class="circle">
    </div>
</section>