<section class="hero">
    <div class="container">
        <div class="hero__text">
            <h1 class="hero__title">Ice cream made with <span class="hero__title--accent">passion</span></h1>
            <div class="hero__btns">
                <a href="#" class="hero__link link hero__link--products">Products</a>
                <a href="#" class="hero__link link hero__link--about">How it’s made?</a>
            </div>
            <div class="hero-tab-text">
                <picture>
                    <source srcset="./images/gallery/web/hero-milk.png 1x, ./images/gallery/web/hero-milk-2x.png 2x" media="(min-width:1200px)">
                    <source srcset="./images/gallery/tablet/hero-milk-tab.png 1x, ./images/gallery/tablet/hero-milk-tab-2x.png 2x" media="(min-width:768px)">
                    <img src="./images/gallery/web/hero-milk.png" alt="Milk" width="213" class="hero-milk-tab">
                </picture>
                <div class="hero-tab-text__wrap">
                    <p class="hero__info">You can help the Armed Forces of Ukraine by buying any of our products. We transfer 10% to the "UNITED24" fund from each purchase.</p>
                    <a href="https://u24.gov.ua/" target="_blank" class="hero-text-link">
                        <svg class="hero-text__arrow" width="10" height="10">
                            <use href="./images/sprite/icons.svg#icon-products-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="cirle">
            <picture>
                <source srcset="./images/gallery/web/hero-icecream.png 1x, ./images/gallery/web/hero-icecream-2x.png 2x" media="(min-width:1200px)">
                <source srcset="./images/gallery/tablet/hero-icecream-tab.png 1x, ./images/gallery/tablet/hero-icecream-tab-2x.png 2x" media="(min-width:768px)">
                <source srcset="./images/gallery/mobile/hero-icecream-mob.png 1x, ./images/gallery/mobile/hero-icecream-mob-2x.png 2x" media="(min-width:320px)">
                <img src="./images/gallery/web/hero-icecream.png" alt="Ice-cream" width="236" height="557" class="ice-cream">
            </picture>

        </div>
        <div class="hero_left-info">
            <ul class="hero-left-info__list">
                <li class="hero-left-info__item">
                    <p class="hero-left-info__number">16</p>
                    <p class="hero-left-info__text">cafes</p>
                </li>
                <li class="hero-left-info__item">
                    <p class="hero-left-info__number">23</p>
                    <p class="hero-left-info__text">food trucks</p>
                </li>
            </ul>
        </div>
        <picture>
            <source srcset="./images/gallery/web/hero-girl.png 1x, ./images/gallery/web/hero-girl-2x.png 2x"
                media="(min-width:1200px)">
            <source srcset="./images/gallery/tablet/hero-girl-tab.png 1x, ./images/gallery/tablet/hero-girl-tab-2x.png 2x"
                media="(min-width:768px)">
            <img src="./images/gallery/web/hero-girl.png" alt="Girl with ice-cream" width="304" class="hero__girl">
        </picture>
    </div>
</section>