<section class="products">
  <div class="products__container container">
    <p class="products__label">100% natural</p>
    <h2 class="products__top-title">products</h2>
    <ul class="products__list list">
      <li class="products__item icecream">
        <div class="overlay-container">
          <h3 class="products__title">Ice cream</h3>
          <svg class="products__icon" width="26" height="6">
            <use
              href="./images/sprite/icons.svg#icon-products-dots
"
            ></use>
          </svg>
          <p class="products__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab officia
            debitis facere beatae quae distinctio excepturi possimus at culpa
            dicta natus praesentium tempore eos neque ipsam ipsum, illum
            consectetur quam.
          </p>

          <button type="button" class="products__button button">
            <svg class="products__link-icon" width="16" height="16">
              <use href="./images/sprite/icons.svg#icon-products-arrow"></use>
            </svg>
          </button>

          <div class="products__overlay">
            <h3 class="products__overlay-title">History of ice cream</h3>
            <p class="products__overlay-text">
              The first prototype of ice cream was invented in China about 4
              thousand years ago. Emperor Tang, who ruled at the time, did not
              tolerate the heat well. He ordered his servants to come up with a
              dish that would cool during the hot part of the day.
            </p>
          </div>
        </div>
      </li>
      <li class="products__item coffee">
        <div class="overlay-container">
          <h3 class="products__title">Ice coffee</h3>
          <svg class="products__icon" width="26" height="6">
            <use href="./images/sprite/icons.svg#icon-products-dots"></use>
          </svg>
          <p class="products__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
            molestias earum ipsa, officiis assumenda reprehenderit nemo, vitae
            vel nam distinctio labore et! Corporis quaerat quasi enim minima
            asperiores tenetur omnis.
          </p>
          <button type="button" class="products__button button">
            <svg class="products__link-icon" width="16" height="16">
              <use href="./images/sprite/icons.svg#icon-products-arrow"></use>
            </svg>
          </button>
          <div class="products__overlay">
            <h3 class="products__overlay-title">History of ice coffee</h3>
            <p class="products__overlay-text">
              The name "ice coffee" first appeared in the 1920s, when an
              aggressive marketing campaign for the drink was carried out by the
              Joint Committee on Coffee Advertising in the United States.
            </p>
          </div>
        </div>
      </li>
      <li class="products__item milkshake">
        <div class="overlay-container">
          <h3 class="products__title">Milkshakes</h3>
          <svg class="products__icon" width="26" height="6">
            <use href="./images/sprite/icons.svg#icon-products-dots"></use>
          </svg>
          <p class="products__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore a
            ipsam saepe illo earum minima modi esse quasi ad tempore dicta totam
            neque, explicabo impedit reprehenderit pariatur magnam nihil.
            Pariatur?
          </p>
          <button type="button" class="products__button button">
            <svg class="products__link-icon" width="16" height="16">
              <use href="./images/sprite/icons.svg#icon-products-arrow"></use>
            </svg>
          </button>
          <div class="products__overlay">
            <h3 class="products__overlay-title">History of milkshake</h3>
            <p class="products__overlay-text">
              The term "milkshake" was first used in 1885 in England to refer to
              a cocktail of whiskey and eggnog (a sweet drink based on raw
              chicken eggs and milk). The milkshake we all know and love was
              only invented in 1922 by Walgreens, a small pharmacy chain in the
              United States.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
