<section class="products">
  <div class="products__container container">
    <p class="products__label">100% natural</p>
    <h2 class="products__top-title">products</h2>
    <ul class="products__list list">
      <li class="products__item icecream">
        <h3 class="products__title">Ice cream</h3>
        <svg class="products__icon" width="26" height="6">
          <use href="./images/sprite/icons.svg#icon-Group-4"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__link" href="#">
          <svg class="products__link-icon" width="16" height="16">
            <use href="./images/sprite/icons.svg#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
      <li class="products__item coffee">
        <h3 class="products__title">Ice coffee</h3>
        <svg class="products__icon" width="26" height="6">
          <use href="./images/sprite/icons.svg#icon-Group-4"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__link" href="#">
          <svg class="products__link-icon" width="16" height="16">
            <use href="./images/sprite/icons.svg#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
      <li class="products__item milkshake">
        <h3 class="products__title">Milkshakes</h3>
        <svg class="products__icon" width="26" height="6">
          <use href="./images/sprite/icons.svg#icon-Group-4"></use>
        </svg>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <a class="products__link" href="#">
          <svg class="products__link-icon" width="16" height="16">
            <use href="./images/sprite/icons.svg#icon-arrow-right2"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
