<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <h3 class="products__item__title">Ice coffee</h3>
        <p class="products__item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id ea
          deserunt debitis, optio molestias odit, consequatur inventore eos
          deleniti assumenda praesentium non expedita atque, saepe commodi eaque
          architecto corporis.
        </p>
      </li>
      <li class="products__item">
        <h3 class="products__item__title">Ice coffee</h3>
        <p class="products__item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id ea
          deserunt debitis, optio molestias odit, consequatur inventore eos
          deleniti assumenda praesentium non expedita atque, saepe commodi eaque
          architecto corporis.
        </p>
      </li>
      <li class="products__item">
        <h3 class="products__item__title">Ice coffee</h3>
        <p class="products__item__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id ea
          deserunt debitis, optio molestias odit, consequatur inventore eos
          deleniti assumenda praesentium non expedita atque, saepe commodi eaque
          architecto corporis.
        </p>
      </li>
    </ul>
  </div>
</section>
