.button {
  @include flex-centred();

  transition: background-color var(--transition), box-shadow var(--transition);

  &:hover,
  &:focus {
    background-color: var(--button-accent-bg);
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
