.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;

  width: 250px;
  height: 100%;
  padding-top: 60px;

  background-color: #e17992;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);
}

.button-container {
  @include flex-centred();
  padding: 0 20px;
}

.mobile-menu__close-button {
  position: absolute;
  top: 20;
  right: 20;
  border: none;

  background-color: transparent;
}

.menu-close__icon {
  fill: var(--accent-color);
}

.mobile-menu__button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 22px;
}

.mobile-menu__button-icon {
  margin-left: 16px;
}

.mobile-menu__list {
  margin-top: 20px;
}

.mobile-menu__item {
  padding: 12px 20px;

  @include font(700, 14px, 1.2857, null);

  color: var(--white-text-color);

  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:first-child {
    border-top: 1px solid #e18298;
  }

  &:last-child {
    border-bottom: 1px solid #e18298;
  }

  .mobile-menu__item + & {
    border-top: 1px solid #e18298;
  }
}
