.social__list {
  @include flex-centred();
}

.social__item {
  .social__item + & {
    margin-left: 28px;
  }

  @media screen and (min-width: 768px) {
    .social__item + & {
      margin-left: 30px;
    }
  }
}

.social__link {
  @include flex-centred();

  width: 32px;
  height: 32px;
  border-radius: 50%;

  background-color: var(--socials-bg-color);

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}
