.primary-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;
}

.secondary-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
