.primary-title__top-text {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1538;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.secondary-title__top-text {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666;
  text-align: center;
  text-transform: uppercase;
}
