.advantages__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.advantages__icon {
    width: 50px;
    height: 50px;
    fill: #FFA5BA;
    margin-bottom: 16px;
}

.advantages__top-text {
    font-family: 'Titan One';
    height: 56px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin-bottom: 4px;
    margin: 0;
}

.advantages__text {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.6;
    color: var(--primary-text-color);
}
