.footer {
  background-color: var(--purple-section-color);
  @include desktop {
    padding-top: 60px;
  }
}
.footer__title {
  max-width: 230px;
  text-align: left;
  color: var(--title-top-text-color);
  &--bold {
    max-width: 230px;
    display: block;
    text-align: left;
    color: var(--title-color);
  }
  @include tablet {
    max-width: 340px;
    @include font(null, 26px, null, null);
    &--bold {
      @include font(null, 48px, null, null);
    }
  }

  @include desktop {
    max-width: 1400px;
    @include font(null, 30px, null, null);
    &--bold {
      max-width: 1400px;
      @include font(null, 58px, null, null);
    }
  }
}
.title-wrap {
  @include tablet {
    max-width: 1199px;
    @include flex-centred($d: flex, $ai: center, $jc: space-between);
  }
}

// ---------Socials--------//
.footer-social__list {
  justify-content: end;
  margin-top: 40px;
  @include tablet {
    margin-top: 0;
  }
}
// ------Address-----------//
.address-footer {
  display: block;
  padding: 0;
  margin-top: 40px;
}
.address-footer__text {
  @include font(700, 12px, 1.86, null);
  text-align: right;
  &--black {
    color: #000000;
  }
  @include tablet {
    @include font(700, 14px, 1.85, null);
  }
  @include desktop {
    @include font(700, 16px, 1.88, null);
  }
}
.address-footer__tel {
  display: inline-block;
  color: var(--link-color);
  transition: color var(--transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
// ----------Rights--------//
.container-rights {
  @include flex-centred();
  margin-top: 40px;
  padding-top: 16px;
  border-top: 1px solid #e1e1e1;
}
.footer__rights {
  width: 148px;
  @include font(700, 14px, 1.52, null);
  text-align: center;
  color: var(--link-color);
  @include tablet {
    width: auto;
    padding-bottom: 6px;
  }
}
