.header {
    @include position (absolute, 0, 0);
    z-index: 4;
    width: 100%;
    &>.container {
        @include flex-centred (flex, center, space-between);
        padding-top: 8px;
        padding-bottom: 8px;

    @include tablet {
        padding-top: 32px;
        padding-bottom: 0;
    }
    @include desktop {
        padding-top: 37px;
        }
    }
}

.menu-open__icon {
    width: 20px;
    height: 12px;
    fill: var(--accent-color);
}

.menu-open__btn {
    border: none;
    background-color: transparent;
    padding: 0;
}

.header__wrap {
    display: flex;
}

.header__btn {
    display: none;

    @include tablet {
        display: block;
        margin-left: 32px;
        border: none;
        padding: 12px 37px;
        border-radius: 22px;
        border: none;
        @include btn-white;
        fill: var(--accent-color);
        stroke: var(--accent-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        transform: translate(0) scale(1);
        transition: background-color var(--transition), box-shadow var(--transition), transform var(--transition);
        &:hover,
        &:focus {
            background-color: var(--white-button-accent-bg);
            color: var(--accent-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transform: scale(1.11);
        }

        .btn__icon {
            width: 8px;
            height: 10px;
            margin-left: 12px;
            stroke: inherit;
            fill: inherit;
            align-items: center;
            justify-content: center;
        }
    }
}

.nav__list {
    display: none;
    @include desktop {
        display: flex;
    }
}

.nav__item:not(:last-child) {
    margin-right: 35px;
}

.nav__link{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--white-section-color);
    padding-top: 15px;
    padding-bottom: 15px;
}

.current-link {
    transition: color var(--transition);
    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.menu-open__btn {
    @include desktop {
        display: none;
    }
}

.header__modal {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--socials-bg-color);
}

.modal__img {
    position:absolute;
    top: -53px;
    left: 0;
    width: 500px;
    height: auto;
}

.modal__title {
    margin-top: 30px;
font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
}