.hero {
    background-color: #FFB8CA;
    overflow: hidden;
    .container {
        padding-top: 194px;
        padding-bottom: 157px;
        position: relative;
    }
}

.hero__title {
    margin-bottom: 20px;
    font-family: 'Titan One';
    @include font (400, 26px, 1.15, 0.04em);
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__title--accent {
    font-size: 48px;
    line-height: 0.965;
    color: var(--accent-color);
}

.hero__text {
    position: relative;
    z-index: 2;
    max-width: 218px;
}

.hero__btns {
    display: flex;
}

.hero__link {
    display: block;
    padding: 7px 14px;
    border-radius: 20px;
    font-size: 8px;
    line-height: 1.25;
}

.hero__link--about {
    display: inline-block;
    @include btn-white;
}

.hero__link--products {
    @include btn-purp;
    margin-right: 8px;
}

.cirle {
    position: absolute;
    top: 83px;
    left: 36px;
    width: 346px;                                
    height: 344px;
    background-color: #FFA5BA;
    border-radius: 50%;
}

.ice-cream {
    position: absolute;
    width: 171px;
    height: 410px;
    top: 9px;
    left: 81px;
}