.hero {
  background-color: #ffb8ca;
  overflow: hidden;

  .container {
    padding-top: 194px;
    padding-bottom: 157px;
    position: relative;

    @include tablet {
      padding-top: 102px;
      padding-bottom: 16px;
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      padding-top: 147px;
      padding-bottom: 60px;
    }
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: 'Titan One';
  @include font(400, 26px, 1.15, 0.04em);
  text-transform: uppercase;
  color: var(--white-section-color);

  @include tablet {
    font-size: 22px;
    line-height: 1.136;
  }

  @include desktop {
    margin-bottom: 24px;
    font-size: 38px;
    line-height: 1.158;
  }
}

.hero__title--accent {
  font-size: 48px;
  line-height: 0.965;
  color: var(--accent-color);

  @include tablet {
    font-size: 34px;
    line-height: 0.905;
  }
  @include desktop {
    font-size: 58px;
  }
}

.hero__text {
  position: relative;
  z-index: 2;
  max-width: 218px;

  @include tablet {
    position: unset;
    max-width: 162px;
  }
  @include desktop {
    max-width: 277px;
  }
}

.hero__btns {
  display: flex;

  @include tablet {
    margin-bottom: 20px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.hero__link {
  display: block;
  padding: 7px 14px;
  border-radius: 20px;
  font-size: 8px;
  line-height: 1.25;
  @include desktop {
    font-size: 14px;
    line-height: 1.29;
    padding: 11px 23px;
  }
}

.hero__link--about {
  transform: translate(0) scale(1);
  display: inline-block;
  @include btn-white;
  transition: background-color var(--transition), box-shadow var(--transition),
    transform var(--transition);
  &:hover,
  &:focus {
    background-color: var(--white-button-accent-bg);
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.11);
  }
}

.hero__link--products {
  @include btn-purp;
  margin-right: 8px;
  transform: scale(1);
  transition: transform var(--transition);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.11);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.cirle {
  @include position(absolute, 83px, 36px);
  z-index: 1;
  display: block;
  width: 346px;
  height: 344px;
  background-color: #ffa5ba;
  border-radius: 50%;

  @include tablet {
    left: 248px;
    top: 43px;
    width: 335px;
    height: 333px;
  }

  @include desktop {
    left: 517px;
    top: 54px;
    width: 534px;
    height: 534px;
  }
}

.ice-cream {
  @include position(absolute, 9px, 81px);
  width: 171px;
  height: 410px;

  @include tablet {
    top: 37px;
    left: 74px;
    width: 145px;
    height: 338px;
  }
  @include desktop {
    top: 58px;
    left: 119px;
    width: 238px;
    height: 559px;
  }
}

.hero-milk-tab {
  display: none;

  @include tablet {
    display: block;
    width: 152px;
    height: 154px;
    max-width: 152px;
  }
  @include desktop {
    width: 213px;
    height: 216px;
    max-width: 213px;
  }
}

.hero__info {
  @include tablet {
    display: block;
    font-size: 8px;
    line-height: 1.5;
    color: var(--white-section-color);
    width: 114px;
    margin-bottom: 7px;
  }
  @include desktop {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
    width: 200px;
  }
}

.hero-text-link {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  fill: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition), box-shadow var(--transition),
    transform var(--transition);
  &:hover,
  &:focus {
    background-color: var(--white-button-accent-bg);
    color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transform: scale(1.11);
  }
  @include desktop {
    width: 26px;
    height: 26px;
  }
}

.hero-text__arrow {
  width: 8px;
  fill: var(--accent-color);
}

.hero-tab-text {
  display: none;

  @include tablet {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
  }
}

.hero_left-info {
  display: none;
  @include tablet {
    display: block;
    margin-left: auto;
  }
}

.hero-left-info__number {
  font-family: 'Titan One';
  @include font(400, 28px, 1.14, 0.04em);
  text-transform: uppercase;
  color: var(--accent-color);
  @include desktop {
    font-size: 46px;
    line-height: 1.15;
  }
}

.hero-left-info__text {
  font-size: 8px;
  line-height: 1.25;
  color: var(--white-section-color);
  @include desktop {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-left-info__item {
  position: relative;
  z-index: 1;
}

.hero-left-info__item::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  @include desktop {
    width: 30px;
    height: 30px;
  }
}

.hero__girl {
  display: none;
  @include tablet {
    display: block;
    width: 190px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 32px;
    z-index: 3;
  }
  @include desktop {
    width: 304px;
    height: 241px;
    right: 16px;
  }
}
